#root {
  height: 100vh;
}
.ant-layout{
}
.ant-pro-card-body {
  padding: 0px;position:relative;height:auto!important;
}

.body-card {
  // height: calc(100vh - 100px);
  position:relative;
}
.menu-cont{
  position:fixed;z-index:10;
  width:400px;top:72px;bottom:24px;
  overflow: hidden;
}
.menu-cont:hover{
  overflow-y: auto;
}
.my-content{
  position:fixed;z-index:1;overflow-y: auto;
  top:72px;bottom:24px;right:24px;left:424px;
  width:auto !important;
}
.sidebar {
  .ant-tree-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tree-title-multi {
    p {
      line-height: 130%;
    }
    p:nth-child(1) {
      font-size: 15px;
      margin: 10px 0 0 0;
    }
    p:nth-child(2) {
      font-size: 12px;
      margin: 0 0 5px 0;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .tree-title-multi-inline {
    p {
      line-height: 32px;
      float: left;
      margin: 0;
    }
    p:nth-child(2) {
      margin-left: 6px;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .tree-title-single {
    p {
      line-height: 32px;
      float: left;
      margin: 0;
    }
  }
}
.ant-tree-node-selected {
  .ant-tree-title {
    > div > p:nth-child(2) {
      color: #fff;
    }
  }
}

.ant-tree-node-content-wrapper {
  display: flex;
  align-items: center;
}

//菜单
.menus{
  position:fixed;left:0;top:0;bottom:0;height:96px;
}
.headMenu{width:100%;display:block;}
.ant-tree-treenode{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.tree-title-multi-inline{
  display:flex;align-items: center;line-height:96px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;
}
